<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ShenqingMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Shenqing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="xiaozuid" property="xiaozuid" jdbcType="INTEGER" />
<result column="neirong" property="neirong" jdbcType="VARCHAR" />
<result column="usersid" property="usersid" jdbcType="INTEGER" />
<result column="shenhe" property="shenhe" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,  xiaozuid, neirong, usersid, shenhe
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.ShenqingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shenqing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shenqing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shenqing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.entity.ShenqingExample" >
    delete from shenqing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.Shenqing" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shenqing (xiaozuid,neirong,usersid,shenhe)
    values (#{xiaozuid,jdbcType=INTEGER},#{neirong,jdbcType=VARCHAR},#{usersid,jdbcType=INTEGER},#{shenhe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shenqing" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shenqing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xiaozuid != null" >
    xiaozuid,
</if>
<if test="neirong != null" >
    neirong,
</if>
<if test="usersid != null" >
    usersid,
</if>
<if test="shenhe != null" >
    shenhe,
</if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xiaozuid != null" >
    #{xiaozuid,jdbcType=INTEGER},
</if>
<if test="neirong != null" >
    #{neirong,jdbcType=VARCHAR},
</if>
<if test="usersid != null" >
    #{usersid,jdbcType=INTEGER},
</if>
<if test="shenhe != null" >
    #{shenhe,jdbcType=VARCHAR},
</if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.ShenqingExample" resultType="java.lang.Integer" >
    select count(*) from shenqing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shenqing
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.xiaozuid != null" >
    xiaozuid = #{record.xiaozuid,jdbcType=INTEGER},
</if>
<if test="record.neirong != null" >
    neirong = #{record.neirong,jdbcType=VARCHAR},
</if>
<if test="record.usersid != null" >
    usersid = #{record.usersid,jdbcType=INTEGER},
</if>
<if test="record.shenhe != null" >
    shenhe = #{record.shenhe,jdbcType=VARCHAR},
</if>

    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shenqing
    set id = #{record.id,jdbcType=INTEGER},
      xiaozuid = #{record.xiaozuid,jdbcType=INTEGER},neirong = #{record.neirong,jdbcType=VARCHAR},usersid = #{record.usersid,jdbcType=INTEGER},shenhe = #{record.shenhe,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shenqing" >
    update shenqing
    <set >
      <if test="xiaozuid != null" >
    xiaozuid = #{xiaozuid,jdbcType=INTEGER},
</if>
<if test="neirong != null" >
    neirong = #{neirong,jdbcType=VARCHAR},
</if>
<if test="usersid != null" >
    usersid = #{usersid,jdbcType=INTEGER},
</if>
<if test="shenhe != null" >
    shenhe = #{shenhe,jdbcType=VARCHAR},
</if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Shenqing" >
    update shenqing
    set xiaozuid = #{xiaozuid,jdbcType=INTEGER},neirong = #{neirong,jdbcType=VARCHAR},usersid = #{usersid,jdbcType=INTEGER},shenhe = #{shenhe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCountGroup" resultType="map">
    select ${column} category, count(1) total from shenqing group by category
  </select>
  <select id="selectSumGroup" resultType="map">
    select ${xColumn} category, sum(${yColumn}) total from shenqing group by category
  </select>
  <select id="selectCountGroupByDate" resultType="map">
    <if test = 'dateType == "dd"'>
      select  DATE_FORMAT(${column},'%Y-%m-%d') category, count(1) total from shenqing group by category
    </if>
    <if test = 'dateType == "mm"'>
      select  DATE_FORMAT(${column},'%Y-%m') category, count(1) total from shenqing group by category
    </if>
    <if test = 'dateType == "yy"'>
      select  DATE_FORMAT(${column},'%Y') category, count(1) total from shenqing group by category
    </if>

  </select>
  <select id="selectSumGroupByDate" resultType="map">
    <if test = 'dateType == "dd"'>
      select  DATE_FORMAT(${xColumn},'%Y-%m-%d') category, sum(${yColumn}) total from shenqing group by category
    </if>
    <if test = 'dateType == "mm"'>
      select  DATE_FORMAT(${xColumn},'%Y-%m') category, sum(${yColumn}) total from shenqing group by category
    </if>
    <if test = 'dateType == "yy"'>
      select  DATE_FORMAT(${xColumn},'%Y') category, sum(${yColumn}) total from shenqing group by category
    </if>
  </select>
  <select id="selectCountGroupByFatherId" resultType="map">
    select b.${fatherTableColumn} category, count(1) total from shenqing a left join ${fatherTableName} b on a.${fatherTableId} = b.id group by category
  </select>
  <select id="selectSumGroupByFatherId" resultType="map">
    select b.${fatherTableColumn} category, sum(a.${column}) total from shenqing a left join ${fatherTableName} b on a.${fatherTableId} = b.id group by category
  </select>
</mapper>
